@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kumbh+Sans:wght@300;400;500&family=Lexend+Deca:wght@200&family=Nunito+Sans:wght@300;400;600;800&family=Work+Sans:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Nunito Sans', sans-serif;
}

img{
    max-width: 100%;
}